<h2>About</h2>
<hr>
<p>
	I'm a recent CS grad from UVA &amp; developer living in New York.
</p>
<p>
	By day I work as a technical account manager at LinkIt!, 
	by night I climb &amp; code up new projects.
</p>
<p>
	You can connect with me on <%= link_to "LinkedIn", '#' %> &amp; check out some code on <%= link_to "Github", '#' %>.
</p>