<h2>About</h2>
<hr>
<p>
	I'm Dan Shapiro, a <span class="em">developer</span> and <span class="em">rock climber</span> living in <span class="em">New York</span>. I recently graduated from the <span class="em">University of Virginia</span> with a bachelor of science degree in <span class="em">computer science</span>. I'm interested in web development, human-computer interaction, game theory, machine learning and software engineering.
</p>
<p>
	Outside the confines of my screen, I fill my free time with rock climbing, board games, crafts or I dabble in something new. I love the show Survivor and I'll never turn down a night out for some wings.
</p>
<p>
	You can connect with me on <%= link_to "LinkedIn", 'https://linkedin.com/in/dan--shapiro' %> and check out some of my code on <%= link_to "GitHub", 'https://github.com/Dan-Shapiro' %>.
</p>