<h2>Stuff I've Climbed</h2>
<hr>
<h3>
	<%= link_to '#' do %>
		Climb One 
	<% end %>
	<span class="grade">V1</span>
</h3>
<p class="date">Monday July 30th</p>
<h3>
	<%= link_to '#' do %>
		Climb Two 
	<% end %>
	<span class="grade">V2</span>
</h3>
<p class="date">Sunday July 29th</p>
<h3>
	<%= link_to '#' do %>
		Climb Three 
	<% end %>
	<span class="grade">V3</span>
</h3>
<p class="date">Saturday July 28th</p>