<div class="wrapper wrapper_padding clearfix">
	<div class="homepage_content">
		<div class="bounding_box">
			<h2>
				Proficient languages and technologies:
			</h2>
			<hr>
			<i class="devicon-ruby-plain-wordmark"></i>
			<i class="devicon-rails-plain-wordmark"></i>

			<i class="devicon-python-plain-wordmark"></i>
			<i class="devicon-django-line-wordmark"></i>

			<i class="devicon-postgresql-plain-wordmark"></i>
			<i class="devicon-mysql-plain-wordmark"></i>

			<i class="devicon-html5-plain-wordmark"></i>
			<i class="devicon-css3-plain-wordmark"></i>
			<i class="devicon-sass-original"></i>
			<i class="devicon-bootstrap-plain-wordmark"></i>

			<i class="devicon-javascript-plain"></i>
			<i class="devicon-jquery-plain-wordmark"></i>
			<i class="devicon-react-original-wordmark"></i>

			<i class="devicon-java-plain-wordmark"></i>
			<i class="devicon-csharp-line-wordmark"></i>
			<i class="devicon-cplusplus-line-wordmark"></i>
			<i class="devicon-c-line-wordmark"></i>
			<i class="devicon-php-plain"></i>

			<i class="devicon-git-plain-wordmark"></i>
			<i class="devicon-github-plain-wordmark"></i>
			<i class="devicon-heroku-original-wordmark"></i>
		</div>
	</div>
</div>