<div class="wrapper clearfix">
	<div class="homepage_content">
		<div class="bounding_box">
			<h2>
				Current and recent jobs:
			</h2>
			<hr>
			<p>
				Starting Aug. 13, I begin work full time at <span class="em">LinkIt!</span> as a technical account manager. Previously, I worked as a back-end software engineering intern at <span class="em">Custom Ink</span>, part-time as a consultant advisor at <span class="em">Codecademy</span>, and as a desktop and mobile product engineering intern at <span class="em">Openlink</span>.
			</p>
		</div>
	</div>
</div>