<h2>Stuff I've Built</h2>
<hr>
<h3><%= link_to "Project One", '#' %></h3>
<p class="date">Monday July 30th</p>
<h3><%= link_to "Project Two", '#' %></h3>
<p class="date">Sunday July 29th</p>
<h3><%= link_to "Project Three", '#' %></h3>
<p class="date">Saturday July 28th</p>