<div class="skinny_wrapper wrapper_padding">
	<label>Name</label>
	<input type="text">

	<br>

	<label>Email</label>
	<input type="email">

	<br>

	<label>Message</label>
	<textarea></textarea>

	<br>

	<input type="submit" name="Send Message" class="button">
</div>
