/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "normalize-rails";
@import "variables";
@import "pygments";
@import "font-awesome";
@import "devicon";
@import "devicon-colors";

* {
	box-sizing: border-box;
}

html {
	background-color: $background;
	color: $text;
}

body {
	font-family: 'Raleway', sans-serif;
	position: relative;
}

.wrapper {
	width: 90%;
	margin: 0 auto;
}

.skinny_wrapper {
	width: 80%;
	max-width: 760px;
	margin: 0 auto;
}

.wrapper_padding {
	padding: 4rem 0;
}

.form_wrapper {
	text-align: center;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.hidden {
	display: none;
}

.notice, .alert {
	text-align: center;
	padding: 1em 0;
	border-bottom: 1px solid $border;
}

.em {
	color: $emphasis;
}

h1, h2, h3 ,h4, h5, h6, p, ul, li {
	color: $dark;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 2.2rem;
}

h3 {
	font-size: 2rem;
}

h4 {
	font-size: 1.6rem;
}

h5 {
	font-size: 1.2rem;
}

h6 {
	font-size: 1rem;
}

p, li {
	font-size: 1.1rem;
	line-height: 1.75;
}

p, ul, ol {
	margin: 0 0 1.1rem 0;
}

a {
	text-decoration: none;
}

hr {
	width: 3em;
	display: block;
	height: 2px;
	border: 0;
	border-top: 2px solid $highlight;
	margin: 2rem 0;
}

img {
	border: 4px solid $border;
	border-radius: 8px;
	height: 64px;
	margin: 0 5px;
	&:hover {
		cursor: pointer;
		border-color: $detail;
	}
}

.current_work {
	border-color: $emphasis;
	margin: 0 2rem;
}

.bounding_box {
	color: $dark;
	padding: 2em;
	border: 2px solid $border;
	border-radius: 5px;
	h2 {
		margin-top: 0;
	}
	i {
		font-size: 3.5rem;
		line-height: 1.75;
		padding: 10px;
		&:hover {
			color: $highlight;
		}
	}
}

#main_navigation {
	padding: 2.5em 5%;
	border-bottom: 1px solid $border;
	.name {
		font-weight: 700;
		font-size: .8em;
		letter-spacing: 4px;
		text-transform: uppercase;
		border: 2px solid $border;
		padding: 1rem;
		text-decoration: none;
		color: $dark;
		float: left;
	}
	nav {
		float: right;
		padding-top: 1rem;
		a {
			color: $dark;
			text-decoration: none;
			margin: 0 1rem;
			font-size: 1rem;
		}
	}
}

#page_title {
	text-align: center;
	border-bottom: 1px solid $border;
	padding: 3em 0;
	font-size: 1rem;
	text-transform: uppercase;
}

#main_footer {
	padding: 2.5em 5%;
	border-top: 1px solid $border;
	.copyright {
		float: left;
		font-size: .9em;
		margin: 0;
	}
	nav {
		float: right;
		i {
			color: $dark;
			margin-left: 1em;
			padding: 0 .2em;
			font-size: 1.5em;
			&:hover {
				color: $highlight;
			}
		}
	}
}

input[type="text"], 
input[type="email"], 
input[type="password"], 
textarea {
	width: 100%;
	max-width: 100%;
	height: 3em;
	border: 2px solid $border;
	padding: 1em;
	margin: .5em 0 2em 0;
	background-color: $input;
	color: $input_text;
}

textarea {
	min-height: 20em;
}

input[type="submit"], .button {
	outline: none;
	background: transparent;
	border: 2px solid $border;
	text-align: center !important;
	font-size: 1em;
	color: $dark;
	text-decoration: none;
	cursor: pointer;
	padding: 1em 2em;
	&:hover {
		border: 2px solid $highlight;
		color: $highlight;
	}
}

.project_button {
	background: $highlight;
	color: $white;
	text-decoration: none;
	padding: 1em 2em;
}

.button_wrapper {
	margin: 4em 0 0 0;
	text-align: center;
}

#disqus_thread {
	border: 2px solid $border;
	padding: 3px 5px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 5px;
}

// Shapes //
.hexagon_container {
	-webkit-clip-path: polygon(25% 7%, 75% 7%, 100% 50%, 75% 93%, 25% 93%, 0 50%);
	clip-path: polygon(25% 7%, 75% 7%, 100% 50%, 75% 93%, 25% 93%, 0 50%);
	height: 8rem;
	width: 8rem;	
	position: absolute;
	opacity: .1;
	z-index: -1;
}

.hexagon {
	-webkit-clip-path: polygon(25% 7%, 75% 7%, 100% 50%, 75% 93%, 25% 93%, 0 50%);
	clip-path: polygon(25% 7%, 75% 7%, 100% 50%, 75% 93%, 25% 93%, 0 50%);
	height: 7rem;
	width: 7rem;	
	position: relative;
	background-color: $background;
}