$dark: #dddddd;
$light: #aaaaaa;
$white: #ffffff;
$background: #222222;
$highlight: #ebca7d;
$detail: #e877a6;
$disabled: #444444;
$border: #9aefdd;
$text: #eeeeee;
$input: #282a36;
$input_text: #f8f8f2;

$shape: #fbda8d;
$shape1: #9aefdd;
$shape2: #ebca7d;
$shape3: #e877a6;
