<footer id="main_footer">
	<p class="copyright">&copy; 2018 Dan Shapiro</p>
	<nav>
		<%= link_to 'https://linkedin.com/in/dan--shapiro
', target: :_blank do %>
			<%= fa_icon 'linkedin' %>
		<% end %>
		<%= link_to 'https://github.com/Dan-Shapiro', target: :_blank do %>
			<%= fa_icon 'github' %>
		<% end %>
	</nav>
</footer>