<footer id="main_footer">
	<p class="copyright">&copy; 2018 Dan Shapiro</p>
	<nav>
		<%= link_to '#' do %>
			<%= fa_icon 'linkedin' %>
		<% end %>
		<%= link_to '#' do %>
			<%= fa_icon 'github' %>
		<% end %>
	</nav>
</footer>