<header id="main_navigation" class="clearfix">
	<%= link_to "Dan Shapiro", root_path, :class => "name" %>

	<nav>
		<%= link_to "Climbs", climbs_path %>
		<%= link_to "Projects", projects_path %>
		<%= link_to "Contact", contact_index_path %>
	</nav>
</header>